<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mytest</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .container{
            background-color: antiquewhite;
        }
        .items{
            background-color: red;
            border: 2px solid black;
            width: 100px;
            height: 100px;
            margin: 10px;
        }
        .item-3{
            padding: 6px 25px 12px 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="item-1 items">item-1</div>
        <div class="item-2 items">item-2</div>
        <div class="item-3 items">item-3</div>
        <div class="item-4 items">item-4</div>
        <div class="item-5 items">item-5</div>
    </div>
</body>
</html>